<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create Movie</title>
    </head>
    <body>
        <h1> Create Movie</h1> <br>
        <form action="#" th:action="@{/createMovie}" method="post">
            <table>

                <tr>
                    <th>Title:</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="movieTitle"/>

                    </td>
                </tr>

                <tr>
                    <th>Year:</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="year"/>
                    </td>
                </tr>

                <tr>
                    <th>Trailer Link :</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="link"/>
                    </td>
                </tr>

                <tr>
                    <th>Genre :</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="genre"/>
                    </td>
                </tr>

                <tr>
                    <th>Duration :</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="duration"/>
                    </td>
                </tr>

                <tr>
                    <th>Picture Link :</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" th:name="pictureLink"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn btn-primary" type="submit" value="send"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>