<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create Movie</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    </head>
    <body>
        <div id="container">
            <header>
                <a href="/">Leek movie database</a>
            </header>
            <h1> Create Movie</h1>
            <form action="#" th:action="@{/createMovie}" method="post">
                <table class="clean">

                    <tr>
                        <td><label>Title:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="movieTitle"/>

                        </td>
                    </tr>

                    <tr>
                        <td><label>Year:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="year"/>
                        </td>
                    </tr>

                    <tr>
                        <td><label>Trailer Link:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="link"/>
                        </td>
                    </tr>

                    <tr>
                        <td><label>Genre:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="genre"/>
                        </td>
                    </tr>

                    <tr>
                        <td><label>Duration:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="duration"/>
                        </td>
                    </tr>

                    <tr>
                        <td><label>Picture Link:</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:name="pictureLink"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" value="send">Create</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>