<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DisplayMovies</title>
</head>
<body>
<h1>Movie Display</h1>

<table>
    <tr>
        <td><b>Title:</b> </td>
        <td th:text="${movie.movieTitle}"/>
    </tr>
    <tr>
        <td><b>Year:</b> </td>
        <td th:text="${movie.year}"/>
    </tr>
    <tr>
        <td><b>Genre:</b> </td>
        <td th:text="${movie.Genre}"/>
    </tr>
    <tr>
        <td><b>Link:</b></td>
        <td th:text="${movie.Link}"/>
    </tr>
    <tr>
        <td><b>Duration:</b></td>
        <td th:text="${movie.Duration}"/>
    </tr>
    <tr>
        <td><b>pictureLink:</b></td>
        <td th:text="${movie.pictureLink}"/>
    </tr>
</table>

<p>

</p>





</body>
</html>