<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Movie Database</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <header>
        <a href="/">Leek movie database</a>
    </header>
    <h1>Movie Display</h1>
    <tr>
        <tr th:each="movie: ${movie}">
            <td th:text="${movie}"/>
        </tr>
    </tr>


</tr>
</div>
</body>
</html>
