<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search movie</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Search Movie</h1>

    <!--<form method="get" action="/search">
        <input type="text" name="title" placeholder="Enter title here...">
        <button type="submit">Search</button>
    </form>-->

    <form>
        <!--<input type="text" th:field="${test}"/>-->
        <input class="btn btn-primary" type="submit" value="send"/>

    </form>

    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
            <th>Genre</th>
        </tr>
        <tr th:each="movie : ${movie}">
            <span th:if="${(param.error != null) and (param.title == movie.movieTitle)}">
                <td th:text="${movie.movieTitle}" />
                <td th:text="${movie.year}" />
                <td th:text="${movie.duration}" />
                <td th:text="${movie.genre}" />
            </span>
        </tr>
    </table>
</body>
</html>