 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search movie</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Search Movie</h1>

    <form action="/searchMovie" th:action="@{/searchMovie}" method="post">
        <input type="text" th:name="movieTitle" placeholder="Enter title here...">
        <button type="submit" onclick="location.href='/searchMovie'">Search</button>
    </form>

    <!--int id, year;
    String movieTitle, link, genre, pictureLink, duration;-->

    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
            <th>Genre</th>
            <th></th>
        </tr>
        <tr th:each="searchMovie : ${searchMovie}">
                <td th:text="${searchMovie.movieTitle}" />
                <td th:text="${searchMovie.year}" />
                <td th:text="${searchMovie.duration}" />
                <td th:text="${searchMovie.genre}" />
                <td><a th:href="@{'/display?id=' + ${searchMovie.id}}">view</a></td>
            </span>
        </tr>
    </table>
</body>
</html>